<h1 class="page-heading">Welcome to Peermit<sup>Beta</sup></h1>

<p>Peermit.com provides the first of its kind second factor
   authentication (2FA) service for BitShares to secure your accounts and
   funds on the blockchain without counterparty-risk. You are always in
   control!<p/>
<p>Peermit requires users to register an account with Peermit and
   provide us with a reference account name for transaction approvals.
   Peermit is currently based on the proposal architecture of BitShares.<p>
<p>Note that we are currently running in a beta testing phase and hence recommend
   to only use small amounts of your money to test this system.</p>
