<h1 id="welcome-to-peermit">Welcome to Peermit</h1>
<p>Peermit.com provides the first of its kind second factor authentication (2FA) service for BitShares (and other Graphene(tm) based blockchains) to secure your accounts and funds on the blockchain.</p>
<h3 id="why-peermit">Why Peermit</h3>
<ul>
<li><p><strong>Modern Cryptography</strong></p>
<p>Our technology uses industry standards of hierarchical threshold-signatures which are more powerful and flexible than traditional multi-sig schemes, such as P2SH.</p></li>
<li><p><strong>Available Public API</strong></p>
<p>Our public API allows seamless integration into any existing wallet architecture within minutes. The integration can be as simple as changing one line of code.</p></li>
<li><p><strong>Seamless Setup</strong></p>
<p>Secure your existing accounts with minimal effort. Just a few clicks in most user interfaces, and you are ready to go.</p></li>
<li><p><strong>Secure</strong></p>
<p>Our standard setup with 2-of-3 flat multi-signatures removes all single points of failure by using 3 keys: your reference account, your backup key and Peermit's co-signing key. Each transaction requires 2 keys for signing giving you full control. You can stop using our service by at any time since you are the <strong>owner</strong> of the account.</p></li>
<li><p><strong>Integrated Audit Trail</strong></p>
<p>As Peermit.com is first to use on-chain proposals for negotition with co-signiers, the blockchain stores every attempt to gain access to your accounts, indefinitely and thus offers an intrisinc audit trail.</p></li>
</ul>
