<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>Contact</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}
          <li>
           <i class="fa fa-universal-access" aria-hidden="true"></i>
           <span class="username">
            <a class="page-link" href="https://api.peermit.com/v1/ui/">api</a>
           </span>
          </li>
          <li>
           <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
           <span class="username">
            <a href="https://bitsharestalk.org/index.php/topic,20647.new.html#new">discussion</a>
           </span>
          </li>
          <li>
           <i class="fa fa-gavel" aria-hidden="true"></i>
           <span class="username">
            <a href="/terms">terms</a>
           </span>
          </li>
          <li>
           <i class="fa fa-user-secret" aria-hidden="true"></i>
           <span class="username">
            <a href="/terms">privacy</a>
           </span>
          </li>

        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
